h3,
h4,
h5,
p,
input,
select {
    font-family: monospace;
}

input, textarea {
    box-sizing: border-box;
    margin: 0 0 5px 0;
    width: 100%;
    border: 0;
    resize: none;
    overflow: hidden;
}

select {
    width: auto;
}

hr {
    border-top: 1px;
}

h3 {
    text-align: center;
}

h4 {
    font-style: italic;
}
