h3,
h4,
h5,
p,
a,
input,
select,
button {
    font-family: monospace;
}

input, textarea {
    box-sizing: border-box;
    margin: 0 0 5px 0;
    width: 100%;
    border: 0;
    resize: none;
    overflow: hidden;
}

select, button {
    width: auto;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 1px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #80b3ff;
}

hr {
    border-top: 1px;
}

h3 {
    text-align: center;
    font-size: 20px;
}

h4 {
    font-style: italic;
    font-size: 17px;
}

img {
    max-width: 90vw;
}
